.selector-for-some-widget {
    box-sizing: content-box;
  }
#nav1{
  display: flex;
  justify-content:right;
}
#nav2{
  display: flex;
  justify-content:left;
}
#header-div{ 
  border: 1px solid cadetblue;
  display: flex;
  flex-direction: column;
}
.mb-0 {
  margin-top: 0 !important;
}
.bg-100 {
  background-color: cadetblue !important;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}